.CajaPrincipal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    background-color: rgb(255, 255, 255);
    padding-right: 30px;
    box-shadow: 2px 2px 5px #caafaf;
   
  }
  
  .nav-item {
    display: inline-block;
    margin-left: 50px;
    font-size: 15px;
  }
  
  .nav-link {
    width: 110px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .nav-link:hover {
    border-bottom: 1px solid #000000;
    color: rgb(255, 0, 0);
  }
  
  .nav-link:focus {
    color: rgb(255, 0, 0);
  }
  
  .nombre {
    color: #0a0a0a;
    display: block;
    padding-right: 510px;
  }
 
  .logo {
    margin-right: 25px;
    border-radius: 20px;
  }